In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/Salary_Data.csv")

In [ ]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
x=df.iloc[:,0].values.reshape(-1,1)   #x needs to be 2D hence reshape

In [ ]:
y=df.iloc[:,1].values

In [ ]:
x.shape

(30, 1)

In [ ]:
y.shape

(30,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_x ,test_x, train_y, test_y =train_test_split(x,y, test_size=0.2, random_state=0 )

In [ ]:
Lin=LinearRegression()

In [ ]:
Lin.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
pred_y=Lin.predict(test_x)

In [ ]:
test_x

array([[ 1.5],
       [10.3],
       [ 4.1],
       [ 3.9],
       [ 9.5],
       [ 8.7]])

In [ ]:
pred_y

array([ 40748.96184072, 122699.62295594,  64961.65717022,  63099.14214487,
       115249.56285456, 107799.50275317])

In [ ]:
test_y #compare actual values with above predicted values

array([ 37731., 122391.,  57081.,  63218., 116969., 109431.])

In [ ]:
Lin.predict([[6.5]])

array([87311.83747437])

In [ ]:
#calculating errors MAE and MSE
from sklearn import metrics

In [ ]:
pred_y - test_y

array([ 3017.96184072,   308.62295594,  7880.65717022,  -118.85785513,
       -1719.43714544, -1631.49724683])

In [ ]:
metrics.mean_squared_error(test_y,pred_y)

12823412.298126549

In [ ]:
metrics.mean_absolute_error(test_y,pred_y)

2446.1723690465055